<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="https://fontmeme.com/fr/ajouter-des-arriere-plans/"><img src="https://fontmeme.com/permalink/230530/e5537b533d9b27afb9f7387f9a586131.png" alt="ajouter-des-arriere-plans" border="0"></a>
  </div>
</div>
