<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di7aefgt3/image/upload/v1685526076/banner2_olpxtq.jpg);">
  <div class="container">
    <h1>Groundbnb for <strong>your craziest</strong> living <strong>experiences</strong>!</h1>
    <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    <%= form_with url: flats_path, method: :get, class: "d-flex search-bar" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control me-3 ms-2",
        placeholder: "Find your creepy place"
      %>
      <%= submit_tag "Boo!", class: "btn-ghost" %>
    <% end %>
</div>
