.booking-product {
  overflow: hidden;
  height: 200px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  // align-items: center;
  margin : 8px;
  color: black;
  width: 60%;
  margin: 5px auto 10px;
  box-shadow: 0 0 15px rgba(196, 12, 12, 0.69);
  border-radius: 5px;
  color: white;
  padding-right: 10px;

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(239, 11, 11);
}

.booking-product img {
  height: 100%;
  width: 40%;
  margin-right: 20px;
  object-fit: cover;
  background-position: center;
}

.booking-product h2 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  color: white;
}

.booking-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 20px;
}

.croix {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  font-size: 24px;
}

.booking-product-infos {
  display: flex;
  padding: 16px;
  padding: 0px;
}

h3{
  text-align: center;
  color: red;
}
