.card-trip {
  overflow: hidden;
  background-color: black;
  box-shadow: 0 0 30px rgba(196, 12, 12, 0.69);
  border-radius: 10px;
  color: white;
}

.card-trip > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-trip h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
