.flat-form input[type="text"],
.flat-form input[type="email"],
.flat-form textarea,
.flat-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.flat-form input[type="file"] {
  margin-top: 10px;
}

.flat-form input[type="submit"] {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #040404;
  transition: background 0.9 s ease;
  box-shadow: none
}

.flat-form input[type="submit"]:hover {
  background: #090909;
  box-shadow: 0 0 8px red;
  color: red;
}

.flat-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-shadow{
  box-shadow: 0 0 30px rgba(196, 12, 12, 0.69);
  border-radius: 8px;

}
