/* Container du formulaire */
.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  height: 350px;
  color: black;
  box-shadow: 0 0 15px rgba(196, 12, 12, 0.69);
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  p {
    color: black;
  }
}

/* Style des champs de formulaire */
.form-container input[type="text"],
.form-container input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* Style du bouton de soumission avec des flammes en arrière-plan */
.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  background-image: url('https://us.123rf.com/450wm/amadeus542/amadeus5421512/amadeus542151200127/49148718-dangerus-yeux-mal%C3%A9fiques-sur-fond-noir.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

/* Style des messages d'erreur */
.form-container .error-message {
  color: #f50057;
  margin-bottom: 10px;
}

/* Style des messages de succès */
.form-container .success-message {
  color: #00c853;
  margin-bottom: 10px;
}
