.navbar-lewagon {
  justify-content: space-between;
  background: #000;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 10vh;
  margin: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: #fff;
  font-weight: bold;
}

.navbar-lewagon a:hover {
  color: #ff0000;
  text-decoration: none;
}

.navbar-lewagon .navbar-brand img {
  filter: grayscale(100%);
}

.custom-dropdown-item {
  background-color: #100f0f; /* Définir la couleur de fond personnalisée */
  color: #f50303; /* Définir la couleur du texte personnalisée */
  font-size: 13px;
}

// Offset size of navbar on Index
.margin-top-index {
  margin-top: 100px;
}

.btn-create-flat {
  width: 100%;
  padding: 4px;
  background-color: red;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
