

#centered-image {
  width: 100px; /* Taille initiale de l'image */
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 2s;
}

#centered-image.enlarged {
  width: 1200px; /* Taille agrandie de l'image */
  height: 1200px;
}

#centered-image.hidden {
  opacity: 0; /* Opacité nulle pour cacher l'image */
}

#centered-image.fade-out {
  transition: opacity 1s;
  opacity: 0; /* Opacité nulle pour cacher l'image */
}
