.ghost {
  position: absolute;
  top: 60;
  left: -100px; /* initial position */
  width: 300px;
  height: 300px;
  background-image: url('ghost-image.png'); /* chemin vers l'image du fantôme */
  background-color: transparent;
  background-size: cover;
  animation: ghostAnimation 5s linear infinite;
}

@keyframes ghostAnimation {
  0% {
    transform: translateX(-100px); /* départ de la gauche */
  }
  100% {
    transform: translateX(calc(100vw + 100px)); /* traverse toute la largeur de la page */
  }
}
